---
http_interactions:
- request:
    method: get
    uri: https://api.sportsdata.io/v3/soccer/scores/json/SeasonTeams/86?key=APIKEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 22 Jul 2020 13:56:19 GMT
    body:
      encoding: UTF-8
      string: '[{"SeasonTeamId":4138,"SeasonId":86,"TeamId":508,"TeamName":"Bournemouth","Active":true,"Gender":"Male","Type":"Club","Team":{"TeamId":508,"AreaId":68,"VenueId":1,"Key":"BOR","Name":"AFC
        Bournemouth","FullName":"Association Football Club Bournemouth","Active":true,"AreaName":"England","VenueName":"Vitality
        Stadium","Gender":"Male","Type":"Club","Address":"Dean Court, Kings Park","City":"Bournemouth","Zip":"BH7
        7AF","Phone":"+44 (01202) 726300","Fax":"+44 (01202) 726373","Website":"http:\/\/www.afcb.co.uk","Email":"admin@afcb.co.uk","Founded":1890,"ClubColor1":"Red","ClubColor2":"Black","ClubColor3":null,"Nickname1":"The
        Cherries","Nickname2":"Boscombe","Nickname3":null,"WikipediaLogoUrl":"https:\/\/upload.wikimedia.org\/wikipedia\/en\/thumb\/e\/e5\/AFC_Bournemouth_%282013%29.svg\/241px-AFC_Bournemouth_%282013%29.svg.png","WikipediaWordMarkUrl":null,"GlobalTeamId":90000508}},{"SeasonTeamId":4139,"SeasonId":86,"TeamId":509,"TeamName":"Arsenal","Active":true,"Gender":"Male","Type":"Club","Team":{"TeamId":509,"AreaId":68,"VenueId":2,"Key":"ARS","Name":"Arsenal
        FC","FullName":"Arsenal Football Club ","Active":true,"AreaName":"England","VenueName":"Emirates
        Stadium","Gender":"Male","Type":"Club","Address":"75 Drayton Park","City":"London","Zip":"N5
        1BU","Phone":"+44 (020) 76195003","Fax":"+44 (020) 77044001","Website":"http:\/\/www.arse[...]
